* {
    box-sizing: border-box;
}

/* body, */
/* html { */
/*     background-color: white; */
/*     height: 100%; */
/*     margin: 0; */

/* } */

body,
html {
    background: url("../images/lagos.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

/* .bg { */
/*     /\* The image used *\/ */
/*     background-image: url("../images/lagos.jpg"); */

/*     /\* Full height *\/ */
/*     /\* Center and scale the image nicely *\/ */
/*     background-position: center; */
/*     /\* background-repeat: no-repeat; *\/ */
/*     background-size: cover; */
/* } */

/* Center website */
.main {
    max-width: 1200px;
    margin: auto;
}

.title {
    font-size: 50px;
    word-break: break-all;
    color: #fafafa;
    background-color: rgba(0, 76, 155, 0.9);
    font-weight: 400;
    padding: 10px;
    width: fit-content;
}

h1 {
    font-size: 1.75rem;
    /* font-size: 1.75vw; */
    color: rgba(0, 76, 155, 0.8);
    font-weight: 600;
    word-break: break-all;
    /* background-color: white; */
    /* color: black; */
    padding: 10px;
    width: fit-content;
}

h3 {
    font-size: 1.5rem;
    /* font-size: 1.75vw; */
    color: rgba(0, 76, 155, 0.8);
    font-weight: 600;
    word-break: break-all;
    /* background-color: white; */
    /* color: black; */
    /* padding: 2px; */
    width: fit-content;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row>.column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

.container_image {
    float: left;
    position: relative;
    /* background-color: lightblue;
          border: 1px solid gray;
          margin-top: 100px;
          margin-left: 150px; */
    margin-bottom: 15px;
    padding: 3px;

    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.container_image:hover {
    cursor: pointer;

    -webkit-transform: scale(1.55, 1.57);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.02, 1.04);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
    z-index: 99;
}

.container_image a {
    margin-top: 5px;
    display: block;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    text-align: center;
    visibility: visible;
    opacity: 1;

}

.container_image:hover a {
    visibility: visible;
    opacity: 1;



}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }
}
